'.source.brightscript':
    'forto':
        'prefix': 'forto'
        'body': 'for ${1:i=0} to ${2:10} step ${3:1}\n\t${4:\' code here}\nend for\n$0'
    'foreach':
        'prefix': 'foreach'
        'body': 'for each ${1:item} in ${2:items}\n\t${3:\' code here}\nend for\n$0'
    'while':
        'prefix': 'while'
        'body': 'while ${1:i=0}\n\t${2:\' code here}\nend while\n$0'
    'ifthen':
        'prefix': 'ifthen'
        'body': 'if ${1:i=0} then ${2:i++}\n$0'
    'ifthenelse':
        'prefix': 'ifthenelse'
        'body': 'if ${1:i=0} then ${2:i++} else ${3:i+=2}\n$0'
    'ifelse':
        'prefix': 'ifelse'
        'body': 'if ${1:i=0}\n\t${2:\' code here}\nelse\n\t${3:\' code here}\nend for\n$0'
    'ifelseif':
        'prefix': 'ifelseif'
        'body': 'if ${1:i=0}\n\t${2:\' code here}\nelse if ${3:i=1}\n\t${4:\' code here}\nend for\n$0'
    'ifelseifelse':
        'prefix': 'ifelseifelse'
        'body': 'if ${1:i=0}\n\t${2:\' code here}\nelse if ${3:i=1}\n\t${4:\' code here}\nelse\n\t${5:\' code here}\nend for\n$0'
