'.source.brightscript':
    'Abs':
        'prefix': 'Abs'
        'body': 'Abs(${1:x})$0'
        'description': 'Returns the absolute value of the argument.'
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'Asc':
        'prefix': 'Asc'
        'body': 'Asc("${1:letter}")$0'
        'description': """
            Returns the ASCII code for the first character of the specified string.
            A null-string argument will cause an error to occur.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'Atn':
        'prefix': 'Atn'
        'body': 'Atn(${1:x})$0'
        'description': 'Returns the arctangent (in radians) of the argument.'
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'Box':
        'prefix': 'Box'
        'body': 'Box(${1:variable})$0'
        'description': """
            Returns an object version of an intrinsic type,
            or pass through an object if given one.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Runtime+Functions'
    'Cdbl':
        'prefix': 'Cdbl'
        'body': 'Cdbl(${1:x})$0'
        'description': 'Returns a single precision float representation of the argument.'
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'Chr':
        'prefix': 'Chr'
        'body': 'Chr(${1:asciiVal})$0'
        'description': 'Returns a one-character string whose character has the specified ASCII value.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'Cint':
        'prefix': 'Cint'
        'body': 'Cint(${1:x})$0'
        'description': 'Returns an integer representation of the argument, rounding up from midpoints.'
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'CopyFile':
        'prefix': 'CopyFile'
        'body': 'CopyFile("${1:sourcePath}", "${2:destinationPath}")$0'
        'description': 'Makes a copy of a file.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'Cos':
        'prefix': 'Cos'
        'body': 'Cos(${1:x})$0'
        'description': 'Returns the cosine of the argument (argument must be in radians).'
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'CreateDirectory':
        'prefix': 'CreateDirectory'
        'body': 'CreateDirectory("${1:directoryPath}")$0'
        'description': 'Creates the specified directory. Only one directory can be created at a time.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'CreateObject':
        'prefix': 'CreateObject'
        'body': 'CreateObject("${1:roComponent}"${2:, ${3:optionalParameters}})$0'
        'description': """
            Creates a BrightScript Component of class classname specified.
            Returns invalid if the object creation fails.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Runtime+Functions'
    'Csng':
        'prefix': 'Csng'
        'body': 'Csng(${1:x})$0'
        'description': 'Returns a single-precision float representation of the argument.'
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'DeleteDirectory':
        'prefix': 'DeleteDirectory'
        'body': 'DeleteDirectory("${1:directoryPath}")$0'
        'description': """
            Deletes the specified directory.
            It is only possible to delete an empty directory.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'DeleteFile':
        'prefix': 'DeleteFile'
        'body': 'DeleteFile("${1:filePath}")$0'
        'description': 'Deletes the specified file.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'Eval':
        'prefix': 'Eval'
        'body': 'Eval("${1"code}")$0'
        'description': """
            Runs a code snippet in the context of the current function.
            It performs a compile, and then byte code execution.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Runtime+Functions'
    'Exp':
        'prefix': 'Exp'
        'body': 'Exp(${1:x})$0'
        'description': 'Returns the "natural exponential" of X, that is, ex.'
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'FindMemberFunction':
        'prefix': 'FindMemberFunction'
        'body': 'FindMemberFunction(${1:object}, "${2:funName}")$0'
        'description': """
            Returns the interface from the object that provides the specified function,
            or invalid if not found.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'Fix':
        'prefix': 'Fix'
        'body': 'Exp(${1:x})$0'
        'description': """
            Returns a truncated representation of the argument.
            All digits to the right of the decimal point are simply chopped off,
            so the resultant value is an integer.
        """
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'FormatDrive':
        'prefix': 'FormatDrive'
        'body': 'FormatDrive("${1:drivePath}", "${2:fileSystemType}")$0'
        'description': 'Formats a specified drive using the specified filesystem.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'FormatJson':
        'prefix': 'FormatJson'
        'body': 'FormatJson(${1:jsonObject}${2:, ${3:optionalFlag}})$0'
        'description': 'Formats an Associative Array as a JSON string.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'GetGlobalAA':
        'prefix': 'GetGlobalAA'
        'body': 'GetGlobalAA()$0'
        'description': 'Fetches the script global Associative Array.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Runtime+Functions'
    'GetInterface':
        'prefix': 'GetInterface'
        'body': 'GetInterface(${1:object}, "${2:ifname}")$0'
        'description': 'Returns a value of type "Interface".'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'GetLastRunCompileError':
        'prefix': 'GetLastRunCompileError'
        'body': 'GetLastRunCompileError()$0'
        'description': """
            Returns an roList of compile errors, or invalid if no errors.
            Each list entry is an roAssociativeArray with the keys: ERRNO, ERRSTR, FILESPEC, and LINENO.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Runtime+Functions'
    'GetLastRunRuntimeError':
        'prefix': 'GetLastRunRuntimeError'
        'body': 'GetLastRunRuntimeError()$0'
        'description': 'Returns an error code result after the last script Run().'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Runtime+Functions'
    'Instr':
        'prefix': 'Instr'
        'body': 'Instr(${1:start}, "${2:text}", "${3:substring}")$0'
        'description': """
            Returns the position of the first instances of substring within text,
            starting at the specified start position. Returns 0 if the substring is not found.
            Unlike the ifString.Instr() method, the first position is 1.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'Int':
        'prefix': 'Int'
        'body': 'Int(${1:x})$0'
        'description': """
            Returns an integer representation of the argument,
            using the largest whole number that is not greater than the argument.
        """
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'LCase':
        'prefix': 'LCase'
        'body': 'LCase("${1:str}")$0'
        'description': 'Converts the string to all lower case.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'Left':
        'prefix': 'Left'
        'body': 'Left("${1:str}", ${2:n})$0'
        'description': 'Returns the first n characters of s.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'Len':
        'prefix': 'Len'
        'body': 'Len("${1:str}")$0'
        'description': 'Returns the number of characters in the specified string.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'ListDir':
        'prefix': 'ListDir'
        'body': 'ListDir("${1:path}")$0'
        'description': """
            Returns a List object containing the contents of the directory path specified.
            All files names are converted to all lowercase.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'Log':
        'prefix': 'Log'
        'body': 'Log(${1:x})$0'
        'description': 'Returns the natural logarithm of the argument, that is, loge(x) or ln(x).'
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'MatchFiles':
        'prefix': 'MatchFiles'
        'body': 'MatchFiles("${1:path}", "${2:patternIn}")$0'
        'description': """
            Searches a directory for filenames that match a certain pattern. Pattern is a wildmat expression.
            Returns a List object. This function checks all the files in the directory specified against
            the pattern specified and places any matches in the returned roList.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'Mid':
        'prefix': 'Mid'
        'body': 'Mid("${1:str}", ${2:p}${3, ${4:n}})$0'
        'description': """
            Returns a substring of s with length n and starting at position p.
            n may be omitted, in which case the string starting at p and ending
            at the end of the string is returned.
            Unlike the ifString.Mid() method, the first character in the string is position 1.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'MoveFile':
        'prefix': 'MoveFile'
        'body': 'MoveFile("${1:sourcePath}", "${2:destinationPath}")$0'
        'description': 'Renames a file.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'ParseJson':
        'prefix': 'ParseJson'
        'body': 'ParseJson("${1:jsonString}")$0'
        'description': """
            Parses a string formatted according to RFC4627 and return an equivalent BrightScript object.
            If the string is not syntactically correct, Invalid will be returned.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'ReadAsciiFile':
        'prefix': 'ReadAsciiFile'
        'body': 'ReadAsciiFile("${1:filePath}")$0'
        'description': 'Reads the specified file and returns the data as a string.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'RebootSystem':
        'prefix': 'RebootSystem'
        'body': 'RebootSystem()$0'
        'description': """
            Requests the system to perform a soft reboot.
            The Roku platform has disabled this feature.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'Right':
        'prefix': 'Right'
        'body': 'Right("${1:str}", ${2:n})$0'
        'description': 'Returns the last n characters of str.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'Rnd':
        'prefix': 'Rnd'
        'body': 'Rnd(${1:x})$0'
        'description': """
            Generates a pseudo-random number using the current pseudo-random "seed number"
            (generated internally and not accessible to user).
            RND may be used to produce random numbers between 0 and 1,
            or random integers greater than 0, depending on the argument.
        """
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'Run':
        'prefix': 'Run'
        'body': 'Run(${1:filePath}${2:, ${3:optionalParameters}})$0'
        'description': """
            Runs a script from a script. Args may be passed to the scripts Main() function,
            and the called script may return arguments.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Runtime+Functions'
    'RunGarbageCollector':
        'prefix': 'RunGarbageCollector'
        'body': 'RunGarbageCollector()$0'
        'description': """
            Runs the garbage collector.
            Returns and Associative Array with some statistics regarding the garbage collection.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'Sgn':
        'prefix': 'Sgn'
        'body': 'Sgn(${1:x})$0'
        'description': 'Returns -1 for X negative, 0 for X zero, and +1 for X positive.'
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'Sin':
        'prefix': 'Sin'
        'body': 'Sin(${1:x})$0'
        'description': 'Returns the sine of the argument (argument must be in radians).'
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'Sleep':
        'prefix': 'Sleep'
        'body': 'Sleep(${1:milliseconds})$0'
        'description': 'Pauses the script for the specified time, without wasting CPU cycles.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'Sqr':
        'prefix': 'Sqr'
        'body': 'Sqr(${1:x})$0'
        'description': 'Returns the square root of the argument.'
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'Str':
        'prefix': 'Str'
        'body': 'Str(${1:value})$0'
        'description': 'Converts a value to a string.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'StrI':
        'prefix': 'StrI'
        'body': 'StrI(${1:value}${2:, ${3:optionalRadix}})$0'
        'description': 'Converts a value to a string. Optional radix.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'String':
        'prefix': 'String'
        'body': 'String(${1:n}, "${2:str}")$0'
        'description': """
            Returns a string composed of n copies of the second argument concatenated together.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'StringI':
        'prefix': 'StringI'
        'body': 'StringI(${1:n}, ${2:asciiVal})$0'
        'description': """
            Returns a string composed of n copies of the character
            whose ASCII value is the second argument.
        """
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'StrToI':
        'prefix': 'StrToI'
        'body': 'StrToI("${1:str}")$0'
        'description': 'Returns the integer value of the string, or invalid if str is not a string.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'Substitute':
        'prefix': 'Substitute'
        'body': 'Substitute("${1:str}", "${2:arg0}"${3:, "${4:optionalArg1}"${5:, "${6:optionalArg2}"${7:, "${8:optionalArg3}"}}})$0'
        'description': """
            Replaces all instances of {0} or ^0 in str with arg0.
            Similarly, replaces all instances of {1} or ^1 with arg1,
            {2} or ^2 with arg2, and {3} or ^3 with arg3.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'Tan':
        'prefix': 'Tan'
        'body': 'Tan(${1:x})$0'
        'description': 'Returns the tangent of the argument (argument must be in radians).'
        'descriptionMoreUrl': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Math+Functions'
    'Tr':
        'prefix': 'Tr'
        'body': 'Tr("${1:source}")$0'
        'description': 'Translates the source string into the language of the current locale.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'Type':
        'prefix': 'Type'
        'body': 'Type(${1:variable}${2:, ${3:optionalVersion}})$0'
        'description': 'Returns the type of a variable and/or object.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Runtime+Functions'
    'UCase':
        'prefix': 'UCase'
        'body': 'UCase("${1:str}")$0'
        'description': 'Converts the string to all upper case.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'UpTime':
        'prefix': 'UpTime'
        'body': 'UpTime(${1:dummy})$0'
        'description': 'Returns the uptime of the system since the last reboot in seconds.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'Val':
        'prefix': 'Val'
        'body': 'Val("{1:str}"${2:, ${3:optionalRadix}})$0'
        'description': """
            Returns the number represented by the characters in a string argument. Optional radix.
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+String+Functions'
    'Wait':
        'prefix': 'Wait'
        'body': 'Wait(${1:milliseconds}, ${2:port})$0'
        'description': """
            Waits on objects that are "waitable" (those that have a MessagePort interface).
            Wait() returns the event object that was posted to the message port.
            If timeout is zero, "wait" will wait for ever.
            Otherwise, Wait will return after timeout milliseconds if no messages are received.
            In this case, Wait returns a type "invalid".
        """
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
    'WriteAsciiFile':
        'prefix': 'WriteAsciiFile'
        'body': 'WriteAsciiFile("${1:filePath}", "${2:text}")$0'
        'description': 'Writes the specified string data to a file at the specified location.'
        'descriptionMoreURL': 'https://sdkdocs.roku.com/display/sdkdoc/Global+Utility+Functions'
