'.source.brightscript':
    'commentStart': '\''
    'editor':
        'completions': [
            'ifAppInfo'
            'ifAppManager'
            'ifArray'
            'ifArrayGet'
            'ifArraySet'
            'ifArraySort'
            'ifAssociativeArray'
            'ifAudioMetadata'
            'ifAudioPlayer'
            'ifAudioResource'
            'ifBoolean'
            'ifByteArray'
            'ifCaptionRenderer'
            'ifChannelStore'
            'ifCodeRegistrationScreen'
            'ifCompositor'
            'ifDateTime'
            'ifDeviceInfo'
            'ifDouble'
            'ifDraw2D'
            'ifEnum'
            'ifEVPCipher'
            'ifEVPDigest'
            'ifFileSystem'
            'ifFloat'
            'ifFont'
            'ifFontMetrics'
            'ifFontRegistry'
            'ifFunction'
            'ifGetMessagePort'
            'ifGridScreen'
            'ifHdmiStatus'
            'ifHMAC'
            'ifHttpAgent'
            'ifImageCanvas'
            'ifImageMetadata'
            'ifInt'
            'ifIntOps'
            'ifKeyboardScreen'
            'ifList'
            'ifListScreen'
            'ifLocalization'
            'ifLongInt'
            'ifMessageDialog'
            'ifMessagePort'
            'ifOneLineDialog'
            'ifParagraphScreen'
            'ifPath'
            'ifPinEntryDialog'
            'ifPosterScreen'
            'ifProgramGuide'
            'ifRegex'
            'ifRegion'
            'ifRegistry'
            'ifRegistrySection'
            'ifRSA'
            'ifScreen'
            'ifSearchHistory'
            'ifSearchScreen'
            'ifSetMessagePort'
            'ifSlideShow'
            'ifSocket'
            'ifSocketAddress'
            'ifSocketAsync'
            'ifSocketCastOption'
            'ifSocketConnection'
            'ifSocketConnectionOption'
            'ifSocketConnectionStatus'
            'ifSocketOption'
            'ifSocketStatus'
            'ifSourceIdentity'
            'ifSpringboardScreen'
            'ifSprite'
            'ifString'
            'ifStringOps'
            'ifSystemLog'
            'ifTextScreen'
            'ifTextureManager'
            'ifTextureRequest'
            'ifTimespan'
            'ifToStr'
            'ifTuner'
            'ifUrlTransfer'
            'ifVideoPlayer'
            'ifVideoScreen'
            'ifXMLElement'
            'ifXMLList'
            'roAppInfo'
            'roAppManager'
            'roArray'
            'roAssociativeArray'
            'roAudioMetadata'
            'roAudioPlayer'
            'roAudioPlayerEvent'
            'roAudioResource'
            'roBitmap'
            'roBoolean'
            'roByteArray'
            'roCaptionRenderer'
            'roCaptionRendererEvent'
            'roChannelStore'
            'roChannelStoreEvent'
            'roCodeRegistrationScreen'
            'roCodeRegistrationScreenEvent'
            'roCompositor'
            'roDataGramSocket'
            'roDateTime'
            'roDeviceInfo'
            'roDeviceInfoEvent'
            'roDouble'
            'roEVPCipher'
            'roEVPDigest'
            'roFileSystem'
            'roFileSystemEvent'
            'roFloat'
            'roFont'
            'roFontMetrics'
            'roFontRegistry'
            'roFunction'
            'roGridScreen'
            'roGridScreenEvent'
            'roHdmiHotPlugEvent'
            'roHdmiStatus'
            'roHdmiStatusEvent'
            'roHMAC'
            'roImageCanvas'
            'roImageCanvasEvent'
            'roImageMetadata'
            'roInt'
            'roInvalid'
            'roKeyboardScreen'
            'roKeyboardScreenEvent'
            'roList'
            'roListScreen'
            'roListScreenEvent'
            'roLocalization'
            'roLongInteger'
            'roMessageDialog'
            'roMessageDialogEvent'
            'roMessagePort'
            'roOneLineDialog'
            'roOneLineDialogEvent'
            'roParagraphScreen'
            'roParagraphScreenEvent'
            'roPath'
            'roPinEntryDialog'
            'roPinEntryDialogEvent'
            'roPosterScreen'
            'roPosterScreenEvent'
            'roProgramGuide'
            'roRegex'
            'roRegion'
            'roRegistry'
            'roRegistrySection'
            'roRSA'
            'roScreen'
            'roSearchHistory'
            'roSearchScreen'
            'roSearchScreenEvent'
            'roSlideShow'
            'roSlideShowEvent'
            'roSocketAddress'
            'roSocketEvent'
            'roSpringboardScreen'
            'roSpringboardScreenEvent'
            'roSprite'
            'roStreamSocket'
            'roString'
            'roSystemLog'
            'roSystemLogEvent'
            'roTextScreen'
            'roTextScreenEvent'
            'roTextureManager'
            'roTextureRequest'
            'roTextureRequestEvent'
            'roTimespan'
            'roTuner'
            'roTunerEvent'
            'roUniversalControlEvent'
            'roUrlEvent'
            'roUrlTransfer'
            'roVideoPlayer'
            'roVideoPlayerEvent'
            'roVideoScreen'
            'roVideoScreenEvent'
            'roXMLElement'
            'roXMLList'
        ]
