'.source.brightscript':
    'editor':
        'commentStart': '\''
        'completions': [
            'ifAppInfo'
            'ifAppManager'
            'ifArray'
            'ifArrayGet'
            'ifArraySet'
            'ifArraySort'
            'ifAssociativeArray'
            'ifAudioMetadata'
            'ifAudioPlayer'
            'ifAudioResource'
            'ifBoolean'
            'ifByteArray'
            'ifCaptionRenderer'
            'ifChannelStore'
            'ifCodeRegistrationScreen'
            'ifCompositor'
            'ifDateTime'
            'ifDeviceInfo'
            'ifDouble'
            'ifDraw2D'
            'ifEnum'
            'ifEVPCipher'
            'ifEVPDigest'
            'ifFileSystem'
            'ifFloat'
            'ifFont'
            'ifFontMetrics'
            'ifFontRegistry'
            'ifFunction'
            'ifGetMessagePort'
            'ifGridScreen'
            'ifHdmiStatus'
            'ifHMAC'
            'ifHttpAgent'
            'ifImageCanvas'
            'ifImageMetadata'
            'ifInt'
            'ifIntOps'
            'ifKeyboardScreen'
            'ifList'
            'ifListScreen'
            'ifLocalization'
            'ifLongInt'
            'ifMessageDialog'
            'ifMessagePort'
            'ifOneLineDialog'
            'ifParagraphScreen'
            'ifPath'
            'ifPinEntryDialog'
            'ifPosterScreen'
            'ifProgramGuide'
            'ifRegex'
            'ifRegion'
            'ifRegistry'
            'ifRegistrySection'
            'ifRoSGScreen'
            'ifRSA'
            'ifScreen'
            'ifSearchHistory'
            'ifSearchScreen'
            'ifSetMessagePort'
            'ifSGNodeBoundingRect'
            'ifSGNodeChildren'
            'ifSGNodeField'
            'ifSGNodeDict'
            'ifSGNodeFocus'
            'ifSlideShow'
            'ifSocket'
            'ifSocketAddress'
            'ifSocketAsync'
            'ifSocketCastOption'
            'ifSocketConnection'
            'ifSocketConnectionOption'
            'ifSocketConnectionStatus'
            'ifSocketOption'
            'ifSocketStatus'
            'ifSourceIdentity'
            'ifSpringboardScreen'
            'ifSprite'
            'ifString'
            'ifStringOps'
            'ifSystemLog'
            'ifTextScreen'
            'ifTextureManager'
            'ifTextureRequest'
            'ifTimespan'
            'ifToStr'
            'ifTuner'
            'ifUrlTransfer'
            'ifVideoPlayer'
            'ifVideoScreen'
            'ifXMLElement'
            'ifXMLList'
        ]
